<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<div class="container text-center">
<h1>Список приложений</h1>
<br>
<br>
<form action="{% url 'todoapp' %}">
  <input type="submit" value="Заметки (to do)" class="btn btn-primary">
</form>
<br>
<br>
<form action="{% url 'backupView' %}">
  <input type="submit" value="Статус создания backup" class="btn btn-primary">
</form>
<br>
<br>
<form action="{% url 'password1' %}">
  <input type="submit" value="password generator" class="btn btn-primary">
</form>
<br>
<br>
<form action="{% url 'vckpappusers' %}">
  <input type="submit" value="создание скрипта для ВЦКП" class="btn btn-primary">
</form>
<br>
<br>

</div>
